// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe_instruction_phase_number {
  padding-right: 100px;
  vertical-align: top;
}

.recipe_instruction_phase_content {
  width: 300px;
}

.add_phase_button_td {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.phase_input_td {
  display: none;
}